#hand0 {
  position: absolute;
  background-color: #939393;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  z-index: 999999;
}
.header {
  background-color: #3BCEAC;
  padding-top: 10px;
  height: 50px;
  width: 100%
  position: absolute;
}
.header h3 {
  color: #000000;
  text-align: right;
}
.header-image {
  width: 100%;
}
.left {
  width: 140px;
  height: 90vh;
  float: left;
  left: 0px;
  overflow-y: scroll;
  background-color: #ffffff;
}
.left div {
  margin-top:2px;
  min-width: 120px;
  text-align: center;
  vertical-align: middle;
}
.left div img {
  margin-top: 5px;
  margin-bottom: 5px;
}
.unmoveable {}
.right {
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
}
.header .instructions {
  text-align: center;
  top: 10px;
  left: 20px;
  position: fixed;
  min-height: 30px;
  min-width: 70px;
  color: #000000;
  font-size: 20px;
  z-index: 99999;
}
.instructions-panel {
  background-color: #67BCDB;
  font-family: 'Raleway';
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 3%;
  left: 30%;
  width: 40%;
  right: 30%;
  display: none;
  position: fixed;
  z-index: 99999;
}
.instructions-panel h2 {
  font-size: 30px;
  text-align: center;
}
#output {
  margin-right: 5px;
  margin-top: 5px;
}

.imagepanel {
  float: left;
  margin: 15% 15% 15% 15%;
  white-space: normal;
}
body {
  background-image: url("/assets/paper.jpg");
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #888888;
    margin: 1em 0;
    padding: 0;
}
